@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contain{
    padding: 20px;
}
.card{
    background-color: #f0f0f0;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
.card h1{
   
    padding: 10px 5px;
}
.output{
    background-color: #CCF2F4;
    padding: 20px 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.field{
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 45%;
    font-size: 14px;
    
}
.field p{
    margin-right: 6px;
    font-weight: 500;
}
.date{
    padding: 10px 8px;
    font-size: 14px;
    font-weight: 400;
}
.field.textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
}