
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    background-color: #f0f0f0;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.output{
    background-color: #CCF2F4;
    padding: 10px 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.field{
    display: flex;
    margin-bottom: 5px;
    margin-right: 10px;
}