@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&family=Tagesschrift&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla';
}
html{
    font-size: 62.5%;
}
:root{
    --margin-b:5rem;
}
body{
    
}
/* Page Utama */
.page-utama{
    background-image: url('assets/halaman1.jpeg');
    background-position: center 20%;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: var(--margin-b);
   background-color: #FFF44F;
   padding: 0 2rem;
   
   
}
.page-utama::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.772);
}.page-utama h1{
    font-family: 'Montserrat', sans-serif;
    
    color: #FFF44F;
    z-index: 2;
    font-size: 6rem ;
    font-weight: 800;
}
.page-utama span{
    font-size: 2rem;
    font-family: 'Karla';
    list-style: -1px ;
    z-index: 2;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
}
.page-utama button{
    z-index: 2;
    padding: 1.2rem 6rem;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 2rem;
    border:  1px solid white;
   background: transparent;
    color: white;
  
     font-family: 'Montserrat', sans-serif;
}
.page-utama button:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

/* PAGE 2 - INFORMATION*/
.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-b);
    flex-shrink: 1;
   
}
.information .img img{
    width: 40rem;
    height: auto;
    object-fit: cover;
}
.information .right-content{
    width: 60%;
        padding: 0 2rem;
}
.information h1{
    
    font-size: 4.2rem;
    
    margin-bottom: 1.5rem;
    font-size: 'Fira Sans';
    font-weight: 750;
    
    
}
.information .right-content p{
    font-size: 2rem;
    font-weight: 600;
}

.information .poin p{
    font-size: 1.6rem;
    margin: 2rem 0;
    color: #4B4B4B;
}
/* SERVICE PAGE */
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: var(--margin-b);
}
.service h1{
    font-size: 4.3rem;
    margin-bottom: 5rem;
     padding: 0 3rem;
     font-family: 'Karla';
     font-weight: 700;
     text-align: center;
}
.wrapper-service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    

}
.card{
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(175, 175, 175, 0.395);
    border-radius: 2rem;
    text-align: center;
    
}


.card img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
.card h1{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}
.card p{
    font-size: 1.6rem;
    font-family: 'Karla';
}

.swiper{
    display: none;
    
}
.swiper-button-next,
.swiper-button-prev {
    color: rgb(255, 9, 9); /* biar keliatan */
}




/* FOOTER */
.footer{
    height: auto;
    color: white;
    padding: 2.8rem 3.8rem;
    background-color: #1B1B1B ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrapper-about{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.wrapper-about .tentang-kami{
    width: 40%;
}
.wrapper-about ul{
    list-style: none;
    
}
.wrapper-about p,
.wrapper-about ul li{
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}
.wrapper-about .header-about{
    font-size: 2.6rem;
     font-size: 'Fira Sans';
        font-weight: 750;
        margin: 1.6rem 0;
        position: relative;
}
.wrapper-about .hubungi-kami{
    width: 30%;
}
.wrapper-about .header-about h3{
    padding-left: 1.6rem;
}
.wrapper-about .header-about::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4B4B4B;
}
.wrapper-sosial-media{
    display: flex;
    gap: 1.4rem;
    font-size: 3.8rem;
    margin: 2rem 0;
}

.wrapper-sosial-media a{
    text-decoration: none;
    color: rgba(255, 248, 248, 0.893);
}
.copyright{
    text-align: center;
    font-size: 1.6rem;
    color: rgb(141, 141, 141);
}





/* MEDIA QUERY */

/* SCREEN 768PX */
@media screen and (max-width: 768px){
    html{
        font-size: 55%;
    }
    .page-utama{
        text-align: center;
    }

    .information{
        display: flex;
        flex-direction: column;
    }
    .information .right-content {
        width: 80%;
    }
    .wrapper-about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper-about .hubungi-kami{
        width: 80%;
    }
    .wrapper-about .tentang-kami{
        width: 90% ;
    }
}

/* SCREEN 480PX */
@media screen and (max-width: 480px) {
    html{
        font-size: 50%;;
    }
    .page-utama{
      width: 100%;
       height: 60vh;
       text-align: center;
    }
    .information{
       
        flex-direction: column;
        padding: 0 2rem;
    }
    .information .img img{
        width: 25rem;
        height: 25rem;
        object-fit: cover;
    }
    .information .right-content{
        width: 100%;
    }
    .information .right-content h1{
        
    }

    .service{
        height: auto;
        padding: 2.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .service h1{
        align-items: center;
        width: 100%;
        
    }
    .wrapper-service{
        /* display: flex;
        flex-direction: column; */
        display: none;
    }
    .swiper{
        display: block;
        width: 100%;
         height: 100%;
        
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .wrapper-about{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper-about .tentang-kami {
        width: 100%;
    }
    .wrapper-about .hubungi-kami{
    width: 90%;
}
    .copyright{
        width: 70%;
    }
    
}
