*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contain{
    width: 300px;
    padding: 15px;
    border-radius: 20px;
    background-color: aqua;
}
.field{
   width: 100%;
   display: flex;
   flex-direction: column;
   
}